{% extends './base.html' %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">{% endblock %}

{% block title %}Integrantes{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('user.user')}}">Circle Vision</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{{url_for('user.tareas')}}">Tareas</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('user.integrantes')}}">Integrantes</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('user.tareasEstado')}}">Avances</a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('session.logout')}}">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="text-center mt-5 mb-5">Integrantes de Integradora</h1>
</div>

<div class="container">
    <div class="row">
        {% for integrante in integrantes %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">{{ integrante.rol }}</h5>
                </div>
                <div class="card-body">
                    <small>Nombre</small>
                    <input type="text" class="form-control" value="{{ integrante.nombre }}" name="nombre" readonly>
                    <small>Apellidos</small>
                    <input type="text" class="form-control" value="{{ integrante.apellidos }}" name="apellidos"
                        readonly>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}